{
    "weapp_config":{
            "app_id":"wxd2b59e487cbd5998",
            "app_secret":"47957eb7df2920a84cd9ffd22cdb0424"
    },
    "mongo_config": {
        "host": "localhost",
        "port": "27017",
        "username": "root",
        "password": "12345678",
        "database": "go-shop",
        "auth_source": "admin",
        "replica_set": ""
    },
    "mysql_config": {
        "host": "localhost",
        "port": "33060",
        "database": "go-shop",
        "username": "root",
        "password": "12345678"
    },
    "redis_config":{
        "host":"localhost",
        "port":"63790"
    },
    "qiniu_config": {
        "drive": "",
        "qiniu_domain": "http://q5q1efml2.bkt.clouddn.com",
        "qiniu_access_key": "bZbhwfl0pyHb4EMny9swOtZAhIrJvvzJ7h-NmZaF",
        "qiniu_secret_key": "Jtq379mcl9lU0ZOB9rjXmQ_fEZ80fU9G4X3PiEVr",
        "bucket": "go-shop-v201",
        "file_upload_action":"https://upload-z2.qiniup.com"
    }
}
